<include href="views/header.html"></include>

<body>

<div class="container">

  <h1>Administration</h1>

  <repeat group="{{ @applicants }}" value="{{ @applicant }}">

    <p>ApplicantID: {{ @applicant['applicant_id'] }}<br>
      Name: {{ @applicant['fname'] }} {{ @applicant['lname'] }}<br>
      Github: {{ @applicant['github'] }}<br>
      Phone: {{ @applicant['phone'] }}<br>
      Email: {{ @applicant['email'] }}<br>
      State: {{ @applicant['state'] }}<br>
      Experience: {{ @applicant['experience'] }} years<br>
      Relocate: {{ @applicant['relocate'] }}<br>
      Subscribed: {{ @applicant['mailing_lists_signup'] }}<br>
      Subscribed Lists: {{ @applicant['mailing_lists_subscriptions'] }}
    </p>

  </repeat>

</div>
</body>
</html>