<include href="views/header.html"></include>

<body>

<div class="container">

<h1>EXPERIENCE</h1>

    <form action="#" method="post" class="form-horizontal">

        <div class="row">

            <div class="col" >

                <label for="bio"><b>Biography</b></label> <br>
                <textarea id="bio"  name="bio" rows="10" cols="60"></textarea>
                <br> <br>
            </div>

            <div class="col">
                <label for="ghub" class="control-label">Github Link</label>
                <input class="form-control" type="text"
                       name="ghub" id="ghub">
                <check if="{{ isset(@errors['ghub'])}}">
                    <span class="err">{{ @errors['ghub'] }}</span>
                </check>
                <br>

                <label>Years Experience</label> <br>
                <repeat group="{{ @experience }}" value="{{ @experience }}">
                    <input type="radio" id="exp" name="yrexp" value="{{ @experience }}">
                    <label for="exp">{{ @experience }}</label>
                </repeat>

                <check if="{{ isset(@errors['yrexp'])}}">
                    <br>
                    <span class="err">{{ @errors['yrexp'] }}</span>
                </check>

                <br> <br>

                <label>Willing To Relocate</label> <br>
                <input type="radio" id="yes" name="relocate" value="Yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="relocate" value="No">
                <label for="no">No</label>
                <input type="radio" id="maybe" name="relocate" value="Maybe">
                <label for="maybe">Maybe</label>
                <br> <br>

<!--                <a href="jobsandmailing"><button class="btn btn-primary col-12 rounded">Next ></button></a>-->

                <input type="submit" value="Next">
            </div>
        </div>
    </form>


</div>
</body>
</html>