<include href="views/header.html"></include>

<body>

<div class="container">

<h1>EXPERIENCE</h1>

    <form action="#" method="post" class="form-horizontal">

        <div class="row">

            <div class="col" >

                <label for="bio"><b>Biography</b></label> <br>
                <textarea id="bio"  name="bio" rows="10" cols="60"></textarea>
                <br> <br>
            </div>

            <div class="col">
                <label for="ghub" class="control-label">Github Link</label>
                <input class="form-control" type="text"
                       name="ghub" id="ghub">
                <br>

                <label>Years Experience</label> <br>
                <input type="radio" id="zerotwo" name="yrexp" value="0-2 years">
                <label for="zerotwo">0-2</label>
                <input type="radio" id="twofour" name="yrexp" value="2-4 years">
                <label for="twofour">2-4</label>
                <input type="radio" id="fourp" name="yrexp" value="4+ years">
                <label for="fourp">4+</label>
                <br> <br>

                <label>Willing To Relocate</label> <br>
                <input type="radio" id="yes" name="relocate" value="Yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="relocate" value="No">
                <label for="no">No</label>
                <input type="radio" id="maybe" name="relocate" value="Maybe">
                <label for="maybe">Maybe</label>
                <br> <br>

<!--                <a href="jobsandmailing"><button class="btn btn-primary col-12 rounded">Next ></button></a>-->

                <input type="submit" value="Next">
            </div>
        </div>
    </form>


</div>
</body>
</html>