<include href="views/header.html"></include>

<body>
<div class="container">

    <div class="row">
        <div class="col">
            <h2 class="text-center text-nowrap">About the Internship</h2>
            <hr>
            <p>We are searching for a motivated student software developer for an iOS and Android development internship.</p>
            <br> <br>

            <h2 class="text-center text-nowrap">More About Us</h2>
            <hr>
            <p>The products we build have a positive impact on people's lives and the world around us. If you are just
                starting your journey in software development, or if you are a seasoned pro, we have a place for you
                here. Our apps are used all around the world, so you will have an opportunity here to learn and grow in
                an environment where millions of people every day interact with our technology.</p>

            <br>

            <p>Our top paid CEOs don't rake in the cash at your expense, and our shareholders only get a dividend. this
                enables us to pay our employees with the best wages and benefits imaginable. We don't offer merely
                "competitive" wages, we pay each employee the largest cut of the product of their labor. Also, unlike our
                competitors, we don't manipulate our users or sell their data to stay in business. Truly a cutting edge company.
                You will love working here!</p>

            <br> <br>

            <h2 class="text-center text-nowrap">Meet Our Team</h2>
            <hr>
            <p style="font-style: italic" class="ml-indent">"Come work for a company where all of our teams enjoy the autonomy to do their
            own decision-making" -Sara, CEO</p>
            <p style="font-style: italic" class="ml-indent">"This company is unique, we all own the efforts of our labor, upper management
                exists only to facilitate success." -Marshall, President</p>
            <p style="font-style: italic" class="ml-indent">"Everyone makes a difference here, we are constantly improving and evolving."
            -Helin, Senior Developer</p>

            <hr>

            <a href="personinfo"><button class="btn btn-primary center text-nowrap rounded">APPLY NOW</button></a>
        </div>

        <br>
        <br>

        <div class="col">
            <img class="img-fluid float-end rounded" src="images/meeting_room.png" alt="a high end meeting room">
            <br>
            <br>
        </div>

    </div>

</div>
<br>
<br>
<br>
</body>
