<include href="views/header.html"></include>

<body>

    <div class="container">
        <h1>Job Openings Mailing Lists</h1>
        <br>

        <form action="summary" method="post" class="form-horizontal">

            <div class="row">

                <p><b>Software Development Jobs</b></p>

                <div class="row">

                    <div class="col">
                        <input type="checkbox" id="javascript" name="javascript">
                        <label for="javascript">Javascript</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="php" name="php">
                        <label for="php">PHP</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="java" name="java">
                        <label for="java">Java</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="python" name="python">
                        <label for="python">Python</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <input type="checkbox" id="HTML" name="HTML">
                        <label for="HTML">HTML</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="CSS" name="CSS">
                        <label for="CSS">CSS</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="ReactJS" name="ReactJS">
                        <label for="ReactJS">ReactJS</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="NodeJS" name="NodeJS">
                        <label for="NodeJS">NodeJS</label>
                    </div>
                </div>

            </div>

            <br>

            <div class="row">

                <p><b>Industry Verticals</b></p>

                <div class="row">

                    <div class="col">
                        <input type="checkbox" id="SaaS" name="SaaS">
                        <label for="SaaS">SaaS</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="healthtech" name="healthtech">
                        <label for="healthtech">Health tech</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="agtech" name="agtech">
                        <label for="agtech">Ag tech</label>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="hrtech" name="hrtech">
                        <label for="hrtech">HR tech</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <input type="checkbox" id="industrialtech" name="industrialtech">
                        <label for="industrialtech">Industrial tech</label>
                    </div>

                    <div class="col-sm-3 float-start">
                        <input type="checkbox" id="cybersec" name="cybersec">
                        <label for="cybersec">Cybersecurity</label>
                    </div>

                </div>

            </div>

            <br> <br>

            <div class="col-sm-4 float-end">
                <a href="summary"><button class="btn btn-primary col-12 rounded">Next ></button></a>
            </div>
        </form>


    </div>
</body>
</html>