<include href="views/header.html"></include>

<body>

    <div class="container">
        <h1>Job Openings Mailing Lists</h1>
        <br>

        <form action="#" method="post" class="form-horizontal">

            <div class="row">

                <p><b>Software Development Jobs</b></p>

                <div class="row">

                    <div class="form-group">
                        <div class="col-sm-4">
                            <repeat group="{{ @devJobs }}" value="{{ @devJob }}">
                                <label><input type="checkbox" name="dev[]" value="{{ @devJob }}"> {{ @devJob }}</label>
                            </repeat>
                        </div>
                    </div>

                </div>

            </div>

            <br>

            <div class="row">

                <p><b>Industry Verticals</b></p>

                <div class="row">

                    <div class="form-group">
                        <div class="col-sm-4">
                            <repeat group="{{ @indVerts }}" value="{{ @indVert }}">
                                <label><input type="checkbox" name="indV[]" value="{{ @indVert }}"> {{ @indVert }}</label>
                            </repeat>
                        </div>
                    </div>

                </div>

            </div>

            <br> <br>

            <div class="col-sm-4 float-end">
<!--                <a href="summary"><button class="btn btn-primary col-12 rounded">Next ></button></a>-->
                <input type="submit" value="Next">
            </div>
        </form>


    </div>
</body>
</html>