<include href="views/header.html"></include>

<body>

<div class="container">
  <h1>Personal Info</h1>

  <form action="#" method="post" class="form-horizontal">

    <div class="form-group">
      <div class="row">

        <div class="col-sm-4">
          <label for="fname" class="control-label">First Name</label>
          <input class="form-control" type="text"
                                   name="fname" id="fname">

<!--        Add error later when controller is implemented-->
        <check if="{{ isset(@errors['fname'])}}">
          <span class="err">{{ @errors['fname'] }}</span>
        </check></div>

        <div class="col-sm-4">
          <label for="lname" class="control-label">Last Name</label>
          <input class="form-control" type="text"
                                   name="lname" id="lname">

        <check if="{{ isset(@errors['lname'])}}">
          <span class="err">{{ @errors['lname'] }}</span>
        </check></div>
    </div>

      <div class="row">
        <label for="email" class="control-label">Email</label>
        <div class="col-sm-8"><input class="form-control" type="text"
                                   name="email" id="email">
      </div>

      <check if="{{ isset(@errors['email'])}}">
        <span class="err">{{ @errors['email'] }}</span>
      </check></div>

      <div class="row">


        <div class="col-sm-4">
          <label for="state" class="control-label">State</label>
          <input class="form-control" type="text"
                                   name="state" id="state"></div>

        <div class="col-sm-4">
          <label for="phone" class="control-label">Phone</label>
          <input class="form-control" type="text"
                                   name="phone" id="phone">

        <check if="{{ isset(@errors['phone'])}}">
          <span class="err">{{ @errors['phone'] }}</span>
        </check></div>

        <div class="col-sm-4">
          <label for="mlist">mailing list?</label>
          <input name="mlist" id="mlist" type="checkbox">
        </div>

        <div class="col-sm-4">
          <br>
<!--          <button class="btn btn-primary col-12 rounded">Next ></button>-->

          <input type="submit" value="Next">
        </div>
      </div>
    </div>
  </form>
<br>
</div>


</body>
</html>