html, body {
    font-family: Verdana, Geneva, sans-serif;
}

body{
    background: white;
}

h1, h2, h3, h4, h5, p, li, label, hr{

}

.center{
    display: block;
    margin-left: 43%;
    margin-right: 50%;
}

.ml-indent{
    margin-left: 40px;
}


